In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import csv
import os

In [2]:
# Store filepath in a variable
file_one = "ManagementUnemployed.csv"
file_two = "Construction and extraction occupationsUnemployed.csv"
file_three = "Farming, fishing, and forestry occupationsUnemployed.csv"
file_four = "Installation, maintenance, and repair occupationsUnemployed.csv"
file_five = "Management, business, and financial operations occupationsUnemployed.csv"
file_six = "Office and administrative support occupationsUnemployed.csv"
file_seven = "Production occupationsUnemployed.csv"
file_eight = "Professional and related occupationsUnemployed.csv"
file_nine = "Sales and related occupationsUnemployed.csv"
file_ten = "Transportation and material moving occupationsUnemployed.csv"

In [3]:
# Read the mouse data and the study results
mgmt_unemployed = pd.read_csv(file_one)
cons_unemployed = pd.read_csv(file_two)
farm_unemployed = pd.read_csv(file_three)
inst_unemployed = pd.read_csv(file_four)
fina_unemployed = pd.read_csv(file_five)
offi_unemployed = pd.read_csv(file_six)
prod_unemployed = pd.read_csv(file_seven)
prof_unemployed = pd.read_csv(file_eight)
sale_unemployed = pd.read_csv(file_nine)
tran_unemployed = pd.read_csv(file_ten)

In [4]:
# #removing extra rows and columns
mgmt_unemployed = mgmt_unemployed.drop(cons_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11]])
# Add occupation column
# inserting column with static value in data frame 
mgmt_unemployed.insert(1, "Occupation", "Management") 
mgmt_unemployed

,Labor Force Statistics from the Current Population Survey,Occupation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
12,Year,Management,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
13,2019,Management,1607,1317,1289,1040,1086,1540,1591,1476,1235,1161,1208,1171
14,2020,Management,1454,1207,1663,5079,4432,4390,4400,NaN,NaN,NaN,NaN,NaN

In [5]:
# #removing extra rows and columns
cons_unemployed = cons_unemployed.drop(cons_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
cons_unemployed.insert(1, "Occupation", "Construction")

In [6]:
# #removing extra rows and columns
farm_unemployed = farm_unemployed.drop(farm_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
farm_unemployed.insert(1, "Occupation", "Farming")

In [7]:
# #removing extra rows and columns
inst_unemployed = inst_unemployed.drop(inst_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
inst_unemployed.insert(1, "Occupation", "Installation") 
# inst_unemployed

In [8]:
# #removing extra rows and columns
fina_unemployed = fina_unemployed.drop(fina_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
fina_unemployed.insert(1, "Occupation", "Finance") 
# fina_unemployed

In [9]:
# #removing extra rows and columns
offi_unemployed = offi_unemployed.drop(offi_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
offi_unemployed.insert(1, "Occupation", "Administration") 
# offi_unemployed

In [10]:
# #removing extra rows and columns
prod_unemployed = prod_unemployed.drop(prod_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
prod_unemployed.insert(1, "Occupation", "Production") 
# prod_unemployed

In [11]:
# #removing extra rows and columns
prof_unemployed = prof_unemployed.drop(prof_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
prof_unemployed.insert(1, "Occupation", "Professional") 
# prof_unemployed

In [12]:
# #removing extra rows and columns
sale_unemployed = sale_unemployed.drop(sale_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
sale_unemployed.insert(1, "Occupation", "Sales") 
# sale_unemployed

In [13]:
# #removing extra rows and columns
tran_unemployed = tran_unemployed.drop(tran_unemployed.index[[0,1,2,3,4,5,6,7,8,9,10,11,12]])
# Add occupation column
# inserting column with static value in data frame 
tran_unemployed.insert(1, "Occupation", "Transportation") 
# tran_unemployed

In [ ]:
# # add row at index 13:14 from dataframe cons_unemployed to dataframe mgmt_unemployed
# combined_unemployed = mgmt_unemployed.append(cons_unemployed.loc[13:14], ignore_index=True)
# combined_unemployed

In [14]:
combined_unemployed = mgmt_unemployed.append([cons_unemployed,farm_unemployed,inst_unemployed,fina_unemployed,offi_unemployed,prod_unemployed,prof_unemployed,sale_unemployed,tran_unemployed])

In [27]:
combined_unemployed.head(10)

,Year,Management,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2019,Management,1607,1317,1289,1040,1086,1540,1591,1476,1235,1161,1208,1171
1,2020,Management,1454,1207,1663,5079,4432,4390,4400,NaN,NaN,NaN,NaN,NaN
2,2019,Construction,689,598,503,453,314,364,406,398,314,402,437,547
3,2020,Construction,590,604,727,1529,1232,961,876,NaN,NaN,NaN,NaN,NaN
4,2019,Farming,257,190,207,140,93,90,61,50,63,55,134,130
5,2020,Farming,210,183,131,153,101,76,78,NaN,NaN,NaN,NaN,NaN
6,2019,Installation,136,151,118,132,152,152,174,152,111,76,84,105
7,2020,Installation,137,122,132,619,543,475,386,NaN,NaN,NaN,NaN,NaN
8,2019,Finance,676,565,552,375,398,519,492,506,450,471,453,533
9,2020,Finance,656,507,631,1742,1432,1367,1460,NaN,NaN,NaN,NaN,NaN

In [25]:
#reset index
combined_unemployed = combined_unemployed.reset_index(drop=True)
combined_unemployed.head()

,Year,Management,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2019,Management,1607,1317,1289,1040,1086,1540,1591,1476,1235,1161,1208,1171
1,2020,Management,1454,1207,1663,5079,4432,4390,4400,NaN,NaN,NaN,NaN,NaN
2,2019,Construction,689,598,503,453,314,364,406,398,314,402,437,547
3,2020,Construction,590,604,727,1529,1232,961,876,NaN,NaN,NaN,NaN,NaN
4,2019,Farming,257,190,207,140,93,90,61,50,63,55,134,130

In [20]:
# Adding the correct header
headers = combined_unemployed.iloc[0]
combined_unemployed = combined_unemployed[1:]

In [24]:
combined_unemployed.columns = headers
combined_unemployed.head()

,Year,Management,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,2019,Management,1607,1317,1289,1040,1086,1540,1591,1476,1235,1161,1208,1171
2,2020,Management,1454,1207,1663,5079,4432,4390,4400,NaN,NaN,NaN,NaN,NaN
3,2019,Construction,689,598,503,453,314,364,406,398,314,402,437,547
4,2020,Construction,590,604,727,1529,1232,961,876,NaN,NaN,NaN,NaN,NaN
5,2019,Farming,257,190,207,140,93,90,61,50,63,55,134,130

In [22]:
combined_unemployed.rename(columns = {'Management':'Occupation'}, inplace = True)

C:\Users\pbhardwaj76\anaconda\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [23]:
combined_unemployed.head()

,Year,Occupation,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,2019,Management,1607,1317,1289,1040,1086,1540,1591,1476,1235,1161,1208,1171
2,2020,Management,1454,1207,1663,5079,4432,4390,4400,NaN,NaN,NaN,NaN,NaN
3,2019,Construction,689,598,503,453,314,364,406,398,314,402,437,547
4,2020,Construction,590,604,727,1529,1232,961,876,NaN,NaN,NaN,NaN,NaN
5,2019,Farming,257,190,207,140,93,90,61,50,63,55,134,130